@{
    ViewBag.Title = "Kendo";
}
<h2>@ViewBag.Title</h2>
@section header {
}

<div id="basicKendo">

</div>

@section footer {
    <script>
        window.Main.LoadKendoGrid();
    </script>
}