@using Kendo.Mvc.UI;
@{
    ViewBag.Title = "KendoWMVC";
}
<h2>@ViewBag.Title</h2>

@section header {
}

<div>
    @{Html.Kendo().Grid<WebpackMVC5App.Models.NFPAModel>()
                                        .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(o => o.ID);
                    columns.Bound(o => o.NFPAType).Filterable(ftb => ftb.Multi(true));
                    columns.Bound(o => o.Name);
                    columns.Bound(o => o.Description);
                })
                .DataSource(ds =>
                {
                    ds.Ajax().Read(read => read.Url(Url.Content("~/api/homeapi/getnfpadata")).Type(HttpVerbs.Get));
                }
                           )
                  .Scrollable(scrolling => scrolling.Enabled(false))
                  .Sortable(sorting => sorting.Enabled(true))
                  .Pageable(paging => paging.Enabled(false))
                  .Filterable(filtering => filtering.Enabled(true))
                  .Groupable(grouping => grouping.Enabled(false)).Render();
    }
</div>

@section footer {
}
